###> symfony/phpunit-bridge ###
.phpunit.result.cache
phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# Email spool folder
app/spool

# Cache, session files and logs (Symfony3)
var/cache
var/log
var/logs
var/sessions

# Parameters
app/config/parameters.yml
app/config/parameters.ini

# Managed by Composer
app/bootstrap.php.cache
var/bootstrap.php.cache

# Assets and user uploads
web/bundles
web/uploads

# Build data
build/

# Composer PHAR
composer.phar

# Embedded web-server pid file
.web-server-pid

/vendor
/bin
/database_data
